<div style="background: #fafafa; padding: 80px 20px; color: #686868;">
	<div style="width: 60%; margin: 0 auto;">
		<h4>Hi, <%= recipient.name %> <%= recipient.surname %>.</h4>
		<table style="width: 100%; background: #ffffff; border: 1px solid #e8e8e8;">
			<thead>
				<tr>
					<td style="padding: 10px;">
						<h3><%= content['header'] %></h3>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding: 10px 10px 0;">
						<p><%= content['body'] %></p>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td style="padding: 0 10px 10px; color: #a0a0a0; font-size: 12px;">
						<p>Best regards, <a href="http://code-wizards.org">Code-Wizards</a>.</p>
					</td>
				</tr>
			</tfoot>
		</table>
		<p style="font-size: 12px; text-align: center; padding: 10px;">
			If you don't want to receive e-mails, please <a href="%unsubscribe_url%">unsubscribe</a>.
		</p>
	</div>
</div>
